body {
  background-color: white;
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  padding: 20px;

}

header {
  display: inline-block;
  width: 100%;
  background-color: lightgrey;
  padding: 20px;
}
header h1 {
  float: left;
  padding: 10px;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide{
  opacity: 1;
  z-index: 2;
}

.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.countdown {
  float: right;
  padding: 10px;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  font-size: 18px;
}

input:focus {
  outline: none;
}

button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10%;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  background-color: BLACK;
  color: white;
}

.container {
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: grey;
}

.card-contents {
  padding: 5px 5px 30px 5px;
}
